{
  "backends": [
    {
      "type": "postgresql",
      "host": "127.0.0.1",
      "user": "replication",
      "database": "keycloak",
      "slot": "lapidus_slot"
    }
  ],
  "plugins": {
    "debug": {},
    "nats": {
    }
  }
}
